body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --main-bg-color: #343C4AFF;
    --selected--item-bg-color: #4b5770;

    --main-text-color: #FFFFFF;
}
